services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=qa_service
      - DB_PORT=5432
    depends_on:
      - db
      - migrate  # Добавляем зависимость от миграций
    networks:
      - qa-network

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=qa_service
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - qa-network

  migrate:
    image: golang:1.25-alpine
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=qa_service
      - DB_PORT=5432
    volumes:
      - .:/app
    working_dir: /app
    command: >
      sh -c "
        apk add --no-cache git &&
        go install github.com/pressly/goose/v3/cmd/goose@latest &&
        goose -dir migrations postgres 'user=postgres password=password dbname=qa_service host=db port=5432 sslmode=disable' up
      "
    networks:
      - qa-network

volumes:
  postgres_data:

networks:
  qa-network:
    driver: bridge